<div class="container">
  <div class="header-navbar">
    <div class="logo">
      <img src="assets/images/logo-mobile.png" alt="">
    </div>
    <div class="user">
      <span>Admin Name</span>
      <i class="fa fa-cog" aria-hidden="true"></i>
    </div>
  </div>


  <div class="content-dashboard">
    <div class="navbar-left" ng-class="{'navbar-hide': dashboard.hideBar}">
       <ul>
         <li>
          <a ui-sref=".analytics"
              ui-sref-active="navbar-left__active">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            <span>Analytics</span>
          </a>
         </li>
          <li>
          <a ui-sref=".news"
             ui-sref-active="navbar-left__active">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>News</span>
          </a>
         </li>
          <li>
          <a href="#">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            <span>Board Brief</span>
          </a>
         </li>
          <li>
          <a href="#">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            <span>Brief Case</span>
          </a>
         </li>
         <li  >
          <a href="javascript:void(0)" ng-click="dashboard.hideBar = !dashboard.hideBar">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            <span>Close Menu</span>
          </a>
         </li>
       </ul>
    </div>
    <div class="content">
      <div ui-view></div>
    </div>
  </div>
  <!--<div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p class="animated infinite" ng-class="main.classAnimation">
      <a class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</a>
    </p>
    <p>
      With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
    </p>
  </div>

  <div class="col" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
    <div class="thumbnail">
      <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
      <div class="caption">
        <h3>{{ awesomeThing.title }}</h3>
        <p>{{ awesomeThing.description }}</p>
        <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
      </div>
    </div>
  </div>
-->
</div>
